body,html,.app_wrap,#root{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
body,.app_wrap,#root{
  flex-grow: 1;
}
html,.app_wrap,#root{
  flex-direction: column;
  min-height: 100%;
}